
@{
    ViewBag.Title = "Information";
    ViewBag.MenuTab = "information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/site/scroller.js"></script>
}
<div class="row">

    <div class="span12">
        <div class="wrap">
            <h1 class="lines">Информация и важные вопросы</h1>
        </div>
        <h4 class="h4-padding">
            Многие просто не знают, что делать, куда обращаться, как организовать похороны...
        </h4>
        <p class="">
            Рано или поздно всем нам приходится сталкиваться со смертью близких людей.
            Несмотря на то, что умом все осознают неизбежность окончания земной жизни,
            на подсознательном уровне человек, как правило, отказывается в это верить,
            и поэтому зачастую трагедия застает нас врасплох. В такие моменты на второй план отходит абсолютно все.
        </p>

        <ol class="information-list">
            <li>
                <a href="#сertificate_of_death">
                    Как получить справку о смерти?
                </a>
            </li>
            <li>
                <a href="#master_of_ceremonies">
                    Зачем приглашать церемониймейстера?
                </a>
            </li>
            <li>
                <a href="#orthodox_funeral">
                    Православные похороны
                </a>
            </li>
            <li>
                <a href="#muslim_funeral">
                    Мусульманские похороны
                </a>
            </li>
        </ol>
        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>


<div class="row">
    <div class="span12" itemscope itemtype="http://schema.org/Question">
        <div class="wrap" id="master_of_ceremonies" >
            <h2 class="lines" itemprop="name">Зачем приглашать церемониймейстера?</h2>
        </div>
        <div class="center-text left"  itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
            <h4 class="h4-padding">
                Церемониймейстер - это обладатель специальной квалификации, главной задачей которого является сопровождение всего процесса похорон.
            </h4>
            <p>
                На нем лежит организация проведения прощания с усопшим.
                Помимо наличия прикладных навыков, он должен разбираться в таких вопросах, как тонкости похоронной обрядности,
                особенности похорон в разных конфессиях, грамотное речевое поведение, плюс, иметь задатки руководителя, быть коммуникабельным и деликатным.
                Как профессионал, церемониймейстер представляет собой человека не только осведомленного в сфере религиоведения,
                но и обладающего определенным набором личных качеств. Он должен быть деликатным, вежливым, отзывчивым и неконфликтным человеком, способным урегулировать любую непредвиденную ситуацию.
            </p>
            <h4 class="h4-padding">
                Церемониймейстер похорон разбирается в этике, риторике.
            </h4>
            <p>
                Умение грамотно представить сценарий похоронной церемонии, составить и произнести прощальную речь предполагают собой наличие соответствующей квалификации.
                Она дается ему по успешному окончанию специального обучения.
                Это не просто организатор всего процесса прощания, но и человек, способный подарить родственникам почившего утешение, дать добрый совет, успокоить.
                Одновременно лишая близких всех тягот, хлопот, забот от организации похорон, церемонимейстер гарантирует слаженность всего процесса, отсутствие заминок, задержек.
            </p>
        </div>

        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="wrap" id="orthodox_funeral">
            <h2 class="lines"> Православные похороны</h2>
        </div>
        <div class="center-text left">
            <h4 class="h4-padding">
                С православной точки зрения, смерть человека – переход из мира времени в мир вечности.
            </h4>
            <p>
                Смерть воспринимается христианами как засыпание и покой человека, отсюда понятия «усопший», «покойный».
                Особое отношение к соблюдению ритуальных похоронных обрядов напрямую связано с верой во всеобщее воскресение людей и бессмертие души.
            </p>

            <ul class="list list-padding">
                Этапы религиозного обряда
                <li>Перед погребением умершего омывают теплой водой, облекают в чистые, по возможности, новые одежды и покрывают саваном.</li>
                <li>В гробу покойного с закрытыми глазами и сомкнутыми устами располагают лицом вверх, под голову кладут подушку, на шею обязательно надевают освещенный нательный крестик.</li>
                <li>Лоб умершего украшают венчиком – символом соблюдения православной веры, а в сложенные крестообразно на груди руки (правая рука поверх левой) полагают погребальный крест.</li>
                <li>Тело покрывают простыней с изображениями святых и молитвенных надписей, поверх него кладут икону Христа Спасителя – для мужчин или образ Божьей Матери – для женщин.</li>
                <li>Над телом почившего священник проводит религиозный обряд – отпевание.</li>
            </ul>

            <h4 class="h4-padding">
                Традиции и особенности
            </h4>
            <p>
                Отпевание и предание земле совершается на третий день со дня смерти, кроме тех случаев, если дата совпадает с днями празднования Святой Пасхи и Рождества Христова.
            </p>
            <h4 class="h4-padding">
                Основные даты поминовения и их особенности
            </h4>
            <p>
                Православной церковью вводятся особые дни поминовения - день рождения усопшего и годовщина смерти, а также Радоница, 3-й, 9-й и 40-й дни после смерти.
                На Радоницу – 9-й день от Пасхи – принято приходить на кладбище и приводить в порядок могилы родственников и близких, украшать их и зажигать свечку в память об умерших.
            </p>
            <h4 class="h4-padding">
                Принцип погребения
            </h4>
            <p>
                При погребении важно обратить гроб с покойным лицом на восток.
            </p>
        </div>

        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="wrap" id="muslim_funeral">
            <h2 class="lines"> Мусульманские похороны</h2>
        </div>
        <div class="center-text left">
            <h4 class="h4-padding">
                По вероучению Ислама, все сущее в мире создано Аллахом, все предопределено Им и происходит по Его воле.
            </h4>
            <p>
                Вся жизнь мусульманина от рождения до смерти определяется Шариатом - систематизированным сводом мусульманских законов.
                Шариатом предлагается целая система правил по переселению мусульман в загробный мир.
                Шариат требует, чтобы мусульманин еще в земной жизни готовился к загробному миру.
                Похоронный обряд в Исламе – Джаназа - предписывает четкое соблюдение множества норм и законов Шариата,
                прописанных в сунне Мухаммеда. Надлежащее исполнение джаназы является обязательным для родных и близких умершего;
                невыполнение ритуала – грех для всех верующих.
            </p>

            <ul class="list list-padding">
                Этапы религиозного обряда
                <li>Подготовка к похоронам в исламе начинается уже перед смертью: по традиции умирающий должен произнести Шахаду и прочитать 36 суру Корана (Йа Син).</li>
                <li>После смерти совершается полное омовение тела (гусль) согласно предписаниям Корана (женщину обязательно должна мыть женщина, а мужчину – мужчина) и укутывание покойного в саван (кафан).</li>
                <li>Тело умершего кладут на твердое возвышение (танашир) лицом к Мекке (кибле).</li>
                <li>Умершему закрывают глаза, подвязывают челюсть, выпрямляют руки и ноги; женщинам разделяют волосы на две части и укладывают их на грудь.</li>
                <li>Тело кладут на погребальные носилки (тобут) и читают заупокойную молитву, при этом громко оплакивать умершего запрещено, так как по представлениям мусульман, в момент оплакивания покойный мучается.</li>
            </ul>

            <h4 class="h4-padding">
                Традиции и особенности
            </h4>
            <p>
                Соболезнование семье покойного (тазию) выражают в течение первых трех дней после смерти, в более поздний срок выражать тазию нежелательно. Ее совершают для того, чтобы напомнить семье умершего о терпении (сабр) и о неотвратимой воле Аллаха. Строго запрещается ночевать в доме покойного, если там выражается тазия.
            </p>
            <h4 class="h4-padding">
                Основные даты поминовения и их особенности
            </h4>
            <p>
                Поминальные дни в исламе приходятся на годовщину смерти, а также на 7-й, 9-й, 40-й дни после смерти.
            </p>
            <h4 class="h4-padding">
                Принцип погребения
            </h4>
            <p>
                Согласно Шариату, при погребении тело покойного укладывают на правый бок, лицо обращают в сторону Мекки (киблы).
                Процесс захоронения необходимо провести как можно быстрее – обычно в день смерти и совершается на вероисповедальном кладбище.
            </p>
        </div>

        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="span12" itemscope itemtype="http://schema.org/Question">
        <div class="wrap" id="сertificate_of_death">
            <h2 class="lines" itemprop="name"> Как получить справку о смерти?</h2>
        </div>
        <div class="center-text left"  itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
            <h4 class="h4-padding">
                Справка о смерти или медицинское свидетельство о смерти.
            </h4>
            <p>

                Справка выдается родственникам умершего (его законным представителям) сразу после патологоанатомического вскрытия или после поступления истории болезни в ПАО (если вскрытие не проводятся).
                Оно может быть выдано с пометкой «окончательное», «предварительное», «окончательное вместо предварительного или окончательного».
                Это необходимо для того, чтобы не задерживать регистрацию смерти в органах ЗАГСа.
                Выдача МСоС может быть задержана в ПАО на срок не более 2-х суток с момента установления причины смерти (п. 1 ст. 8 Закона о погребении и похоронном деле).

                Врачом-патологоанатомом ПАО заполняются пункты о причине смерти и их коды, а остальные пункты оформляются лаборантом или другим сотрудником отделения.

                МСоС выдается из ПАО специально уполномоченным сотрудником родственникам (законным представителям) умершего только при предъявлении ими паспорта умершего и паспорта получателя свидетельства и под его роспись на корешке.
                Паспортные данные получателя обязательно заносятся на корешок МСоС, который остается в ПАО, и в соответствующий журнал.
                При отсутствии паспорта могут быть предъявлены документы, юридически заменяющие паспорт.

                В отдельных случаях допускается повторная выдача МСоС взамен утерянного родственниками (законными представителями) по их письменной просьбе.
                При этом выдается свидетельство с новым номером, с соответвующей записью в журнале учета и выдачи врачебных свидетельств о смерти, а также информируют территориальные органы внутренних дел.

                Тело из ПАО выдается родственникам (законным представителей) только на основании МСоС (за исключением передачи трупа на судебно- медицинскую экспертизу).
            </p>

        </div>

        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>
