
@{
    ViewBag.Title = "Похороны";
    ViewBag.Description = "Независимо от стоимости, любая траурная церемония будет проведена на должном уровне, с надлежащим вниманием и уважением к усопшему и его близким. " +
                          "Дорогих или дешевых похорон не существует для нас, выбор всегда остается за вами, а мы гарантируем вам высочайший уровень оказания услуг. " +
                          "Похоронный дом Некрополь давно является профессиональной компанией в ритуальной сфере," +
                          " и мы разработали комплекты услуг \"Базовый\", \"Расширенный\" и \"Премиум\" с учетом всех потребностей для экономии вашего времени.";
    ViewBag.MenuTab = "services";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts
{
    <script src="~/Scripts/site/scroller.js"></script>
}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="wrap">
                <h1 class="lines">Комплексы похоронных услуг</h1>
            </div>
            <h4 class="h4-padding">
                Независимо от стоимости, любая траурная церемония будет проведена на должном уровне, с надлежащим вниманием и уважением к усопшему и его близким.
            </h4>
            <p class="">
                Дорогих или дешевых похорон не существует для нас, выбор всегда остается за вами, а мы гарантируем вам высочайший уровень оказания услуг.
                Похоронный дом Некрополь давно является профессиональной компанией в ритуальной сфере, и мы разработали комплекты услуг "Базовый", "Расширенный" и "Премиум" с учетом всех потребностей для экономии вашего времени.
            </p>
            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">

        <div class="span12">
            <div class="wrap">
                <h2 class="lines">Стоимость организации похорон</h2>
            </div>
            <div class="section-options">
                <ul class="thumbnails collection">
                    <li class="span3 category col-centered">
                        <a href="#basic">
                            <div class="thumbnail dark">
                                <span class="title">Базовый</span>
                                <p class="description">Минимальный набор товаров и услуг необходимых для погребения.</p>
                                <div class="vensel"></div>
                                <span class="price">11 300 руб</span>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#extended">
                            <div class="thumbnail dark">
                                <span class="title">Расширенный</span>
                                <p class="description">Включает в себя все необходимые процедуры по проведению погребения.</p>
                                <div class="vensel"></div>
                                <span class="price">31 250 руб</span>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#premium">
                            <div class="thumbnail dark">
                                <span class="title">Премиум</span>
                                <p class="description">Похороны, подчеркивающие статус усопшего.</p>
                                <div class="vensel"></div>
                                <span class="price">62 150 руб</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="basic">
                <h2 class="lines">Базовый</h2>
            </div>
            <div class="center">
                <ul class="list list-padding">
                    <li>
                        ГРОБ СИТЕЦ
                    </li>
                    <li>
                        КРЕСТ НА ГРОБ
                    </li>
                    <li>
                        ПОКРЫВАЛО Х/Б
                    </li>
                    <li>
                        ВЕНОК
                    </li>
                    <li>
                        ЛЕНТА
                    </li>
                    <li>
                        ДОСТАВКА ТЕЛА ДО КЛАДБИЩА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ЗАКАЗА
                    </li>
                    <li>
                        ДОСТАВКА ГРОБА В МОРГ
                    </li>
                    <li> ОФОРМЛЕНИЕ ДОКУМЕНТОВ </li>
                </ul>
                <div class="funeral-price">
                    Итого: 11 300 рублей
                </div>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="extended">
                <h2 class="lines">Расширеный</h2>
            </div>
            <div class="center">
                <ul class="list list-padding">
                    <li>
                        ГРОБ (ШЕЛК)
                    </li>
                    <li>
                        КРЕСТ НА ГРОБ
                    </li>
                    <li>
                        ПОКРЫВАЛО (АТЛАС)
                    </li>
                    <li>
                        ВЕНОК 2шт.
                    </li>
                    <li>
                        ЛЕНТА 2 шт.
                    </li>
                    <li>
                        ПЕРЕВОЗКА ТЕЛА К МЕСТУ ЗАХОРОНЕНИЯ
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ЗАКАЗА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ДОКУМЕНТОВ
                    </li>
                    <li>
                        КРЕСТ (НА МОГИЛУ)
                    </li>
                    <li>
                        ТАБЛИЧКА НА КРЕСТ
                    </li>
                    <li>
                        УСЛУГИ ПО ПЕРЕНОСУ ТЕЛА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ПОГРЕБАЛЬНОГО НАРЯДА
                    </li>
                    <li>
                        ХРАНЕНИЕ ТЕЛА В ХОЛОДИЛЬНОЙ КАМЕРЕ
                    </li>
                    <li>
                        РИТУАЛЬНЫЙ ЗАЛ
                    </li>
                </ul>
                <div class="funeral-price">  Итого: 31 250 рублей</div>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="premium">
                <h2 class="lines">Премиум</h2>
            </div>
            <div class="center">
                <ul class="list list-padding">
                    <li>
                        ГРОБ (ПРЕМИУМ)
                    </li>
                    <li>
                        КРЕСТ НА ГРОБ
                    </li>
                    <li>
                        ПОКРЫВАЛО АТЛАС
                    </li>
                    <li>
                        ВЕНОК 3шт.
                    </li>
                    <li>
                        ЛЕНТА 3 шт.
                    </li>
                    <li>
                        ПЕРЕВОЗКА К МЕСТУ ЗАХОРОНЕНИЯ (FORD, HYUNDAI)
                    </li>
                    <li>
                        АВТОБУС ДЛЯ ПРОЩАЮЩИХСЯ
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ЗАКАЗА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ДОКУМЕНТОВ
                    </li>
                    <li>
                        КРЕСТ (НА МОГИЛУ)
                    </li>
                    <li>
                        ТАБЛИЧКА НА КРЕСТ
                    </li>
                    <li>
                        ПЕРЕНОС ТЕЛА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ПОГРЕБАЛЬНОГО НАРЯДА
                    </li>
                    <li>
                        ХРАНЕНИЕ ТЕЛА В ХОЛОДИЛЬНОЙ КАМЕРЕ
                    </li>
                    <li>
                        РИТУАЛЬНЫЙ ЗАЛ+УСЛУГИ ЦЕРЕЙМОНЕЙМЕСТЕРА
                    </li>
                    <li>
                        РАБОТЫ ПО КОРРЕКЦИИ ВНЕШНЕГО ВИДА
                    </li>
                </ul>
                <div class="funeral-price">
                    Итого: 62 150 рублей
                </div>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>

        </div>
    </div>
</div>
