
@{
    ViewBag.Title = "RitualHalls";
    ViewBag.MenuTab = "services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/site/scroller.js"></script>
}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="wrap">
                <h2 class="lines">Ритуальные залы</h2>
            </div>
            <p>
                <h4 class="h4-padding">
                    Ритуальный зал-это специально оборудованное помещение для прощания с покойным, где родные и близкие спокойно и без спешки отдадут все почести усопшему и проводят его в последний путь.
                </h4>
                Чтобы церемония прощания прошла на высшем уровне, при желании можно добавить услуги церемониймейстера.
                Он проведет траурную церемонию, избавив вас от необходимости планировать мероприятие и от хлопот по его организации.
                Прекрасно обученый и тактичный мастер своего дела найдет нужные слова и проявит внимание и уважение к близким усопшего.
                Малый ритуальный зал вмещает в себя до 100 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов.
                Большой ритауальный зал вмещает до 200 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов.
            </p>

            <ul class="thumbnails services">
                <li class="span6">
                    <a href="#small">
                        <div class="thumbnail">
                            <img src="../../Content/images/hall-small.jpg" alt="">
                            <h4>Ритуальный зал малый</h4>
                        </div>
                    </a>
                </li>
                <li class="span6">
                    <a href="#big">
                        <div class="thumbnail">
                            <img src="../../Content/images/hall-big.jpg" alt="">
                            <h4>Ритуальный зал большой</h4>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap">
                <h2 class="lines" id="small">Ритуальный зал малый</h2>
            </div>

            <p class="center-text">
                Малый ритуальный зал вмещает в себя до 100 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов. Церемония может быть проведена цереймониймейстером.
            </p>

            <ul class="thumbnails collection">
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <a href="../../Content/images/hall-small.jpg" class="magnifier"><span></span><img src="../../Content/images/hall-big.jpg" alt=""></a>
                    </div>
                </li>
            </ul>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="big">
                <h2 class="lines">Ритуальный зал большой</h2>
            </div>

            <p class="center-text" >
                Большой ритауальный зал вмещает до 200 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов. . Церемония может быть проведена цереймониймейстером.
            </p>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>

        </div>
    </div>
</div>
