
@{
    ViewBag.Title = "Похороны";
    ViewBag.MenuTab = "services";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts
{
    <script src="~/Scripts/site/scroller.js"></script>
}

<div class="container">

    <div class="row">

        <div class="span12">
            <div class="wrap">
                <h1 class="lines">Ритуальные услуги</h1>
            </div>
            <h4 class="h4-padding">
                Прощание с близкими людьми и проводы их в последний путь не ограничиваются лишь трауной церимонией.
            </h4>
            <p class="">
                Похоронный дом Некрополь берет на себя все заботы по подготовке к прощанию и погребению, а также по уходу за местами захоронений и транспортировки тела умершего.
            </p>
            <div class="section-options">
                <ul class="thumbnails collection">
                    <li class="span3 category col-centered">
                        <a href="#muslim">
                            <div class="thumbnail dark">
                                <span class="title">Мусульманские похороны</span>
                                <p class="description">Похоронный обряд в Исламе – предписывает четкое соблюдение множества норм и законов Шариата.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#embalming">
                            <div class="thumbnail dark">
                                <span class="title">Бальзамирование</span>
                                <p class="description">При бальзамировании тело покойного обрабатывается специальными составами для его сохранения и дезодорации.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#cremation">
                            <div class="thumbnail dark">
                                <span class="title">Кремация</span>
                                <p class="description">Кремация проводится в крематории г. Ярославля.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section-options">
                <ul class="thumbnails collection">
                    <li class="span3 category col-centered">
                        <a href="#transport">
                            <div class="thumbnail dark">
                                <span class="title">Транспортировка</span>
                                <p class="description">Транспортировка в другие регионы и страны.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#care">
                            <div class="thumbnail dark">
                                <span class="title">Уход за захоранениями</span>
                                <p class="description">Вопрос ухода за местами захоронений наших близких-это вопрос нашей совести и памяти.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="#contract">
                            <div class="thumbnail dark">
                                <span class="title">Прижизненный договор</span>
                                <p class="description">Гарантируй себе достойные похороны заранее.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="muslim">
                <h2 class="lines">Мусульманские похороны</h2>
            </div>
            <p class="center-text">
                Похоронный обряд в Исламе – Джаназа - предписывает четкое соблюдение множества норм и законов Шариата, прописанных в сунне Мухаммеда.
            </p>
            <div class="center">
                <ul class="list list-padding">
                    <li>
                        ЯЩИК МУСУЛЬМАНСКИЙ
                    </li>
                    <li>
                        СЕКЦИОННЫЙ ЗАЛ ДЛЯ ОМОВЕНИЯ ТЕЛА
                    </li>
                    <li>
                        РИТУАЛЬНЫЙ ЗАЛ ДЛЯ МОЛИТВЫ
                    </li>
                    <li>
                        ХОЛОДИЛЬНАЯ КАМЕРА
                    </li>
                    <li>
                        ТРАНСПОТИРОВКА ТЕЛА УМЕРШЕГО ИЗ ДОМА
                    </li>
                    <li>
                        ТРАНСПОТИРОВКА ТЕЛА УМЕРШЕГО ДО МЕСТА ЗАХОРОНЕНИЯ
                    </li>
                    <li>
                        ТРАНСПОРТ ДЛЯ ПРОЩАЮЩХСЯ (ПО ЖЕЛАНИЮ)
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ЗАКАЗА
                    </li>
                    <li>
                        ОФОРМЛЕНИЕ ДОКУМЕНТОВ
                    </li>
                </ul>
                <div class="funeral-price"> Итого: 20 200 рублей</div>

            </div>
            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="embalming">
                <h2 class="lines">Бальзамирование и косметика</h2>
            </div>
            <div class="center-text left">
                <h4 class="h4-padding">
                    При бальзамировании тело покойного обрабатывается специальными составами для его сохранения и дезодорации.
                </h4>
                <p class="">
                    Применяются несколько видов бальзамирования: инъекционное и артериальное. Цена бальзамирования зависит от объёма проводимых работ. Возможно проведение частичного бальзамирования (лица, рук), а также полного бальзамирования.
                    Полное или артериальное бальзамирование необходимо, если тело покойного будет перевозиться в другой город или страну, а также рекомендуется в теплое время года или при отсрочке похорон.
                </p>
                <h4 class="h4-padding">
                    Косметика
                </h4>
                <p>
                    Для грима используется специальная косметика, в составе которой присутствуют дезинфицирующие вещества, что позволяет сделать процедуру прощания более гигиеничной. По желанию родственников может быть нанесена декоративная косметика.
                </p>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="cremation">
                <h2 class="lines">Кремация</h2>
            </div>
            <div class="center-text left">
                <h4 class="h4-padding">
                    Кремация проводится в крематории г. Ярославля. Ее стоимость зависит от выбранного набора ритуальных принадлежностей (гроба, покрывала, ритуальных венков, транспорта, урны для праха).
                </h4>
                <p>
                    Стоимость услуг крематория не входит в этот набор и уточняется отдельно, в зависимости от наличия дополнительных услуг, заказываемых в крематории.
                    Саму кремацию можно осуществлять без обязательного присутствия родственников, также не требуется их сопровождение тела умершего до места кремации.
                </p>
                <h4 class="h4-padding">
                    Условия отказа от проведения кремации.
                </h4>
                <p>
                    <ul class="list list-padding">
                        <li>
                            Личность покойного не установлена
                        </li>
                        <li>
                            Смерть наступила в результате несчастного случая
                        </li>
                        <li>
                            По факту смерти возбуждено уголовное дело (т. е. насильственный характер смерти)
                        </li>
                    </ul>
                    Во всех этих случаях кремация может быть оформлена только при получении разрешения от правоохранительных органов.
                </p>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="transport">
                <h2 class="lines">Транспортировка в другие регионы и страны</h2>
            </div>
            <div class="center-text left">
                <h4 class="h4-padding">
                    При желании близких похоронить умершего на его родине, мы осуществляем доставку умерших в другие регионы страны и за рубеж.
                </h4>
                <ul class="list list-padding">
                    В услугу по транспортировке входит:

                    <li>
                        Подготовка пакета документов для отправки тела автомобильным, железнодорожным и авиатранспортом.
                    </li>
                    <li>
                        Изготовление цинкового контейнера, соответствующего существующим требованиям
                    </li>
                    <li>
                        Бальзамирование тела умершего на длительный срок.
                    </li>
                    <li>
                        Транспортировка тела в любую точку мира
                    </li>
                </ul>

            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="care">
                <h2 class="lines">Уход за местами захоронений</h2>
            </div>
            <div class="center-text left">
                <h4 class="h4-padding">
                    В современном ритме жизни мы не всегда имеем возможность ухаживать за могилами покинувших нас родных и близких людей.
                </h4>
                <p>
                    Вопрос ухода за местами захоронений наших близких-это вопрос нашей совести и памяти.
                    Если у Вас нет возможности самостоятельно обеспечить уход за могилой-выполоть сорняки,
                    покрасить ограду, и поменять устаревшую фотографию,
                    то мы готовы помочь Вам и взять на себя заботу по благоустройству мест захоронений в городе Ярославле.
                </p>
                <h4 class="h4-padding">
                    Постоянный уход за местами захоронений.
                </h4>
                <p>
                    Заказав данную услугу, уход за могилой будет оказываться согласно составленного Вами графика. Виды работ оговариваются индивидуально.
                </p>
                <h4 class="h4-padding">
                    Разовая уборка могилы.
                </h4>
                <p>
                    Разовая уборка могилы актуальна для тех, кто хочет привести место захоронения в надлежащее состояние к памятной годовщине или на религиозный праздник.
                </p>
                <p>
                    При обращении в офис мы составим индивидуальный план по уходу за местами захоронений в соответствии с Вашими пожеланиями.
                </p>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="wrap" id="contract">
                <h2 class="lines">Прижизненный договор</h2>
            </div>
            <div class="center-text left">
                <h4 class="h4-padding">
                    К сожалению, мы все не вечны, и смерть, порой, застигает нас в самый неподходящий момент... А порой ожидаема и неизбежна...
                </h4>
                <p>
                    Жизнь человека, зачастую, наполнена различными сложными ситуациями,
                    и, в своем желании, оградить Ваших родных и близких от забот по организации похорон,
                    мы предлагаем Вам заключить прижизненный договор на организацию траурной церемонии.
                </p>
                <h4 class="h4-padding">
                    Для чего составляется прижизненный договор на оказание ритуальных услуг?
                </h4>
                <p>
                    Основной мотив того, кто заключает прижизненный договор – обезопасить свои похоронные сбережения,
                    которые чаще всего хранятся дома, и гарантированно обеспечить себе или близкому человеку достойные похороны,
                    не обременяя при этом своих родственников финансовыми и организационными заботами в случае своей смерти.
                </p>
                <br />
                <p>
                    В договоре указывается близкий родственник,у которого хранится экземпляр документа.
                    В случае смерти он оповещает ритуальное агентство о факте смерти подписанта договора,
                    прижизненный договор вступает в силу и похоронный агент немедленно приезжает к вам для исполнения договорных обязательств.

                </p>
                <h4 class="h4-padding">
                    Почему имеет смысл заключить прижизненный договор на ритуальные услуги?
                </h4>
                <ul class="list list-padding">
                    <li>
                        Похоронные деньги люди обычно хранят дома, следовательно, риски их потерять повышенные (пожар, воры и т. д.)
                    </li>
                    <li>
                        Похоронные деньги "съедает" инфляция и растущие цены

                    </li>
                    <li>
                        Если у вас есть прижизненный договор на оказание ритуальных услуг с городским похоронным агентством, вы обезопасили себя от столкновения с черными агентами.
                    </li>
                </ul>
                <p>
                    Заключив прижизненный договор, родственники смогут достойно и организованно проводить вас в последний путь по ценам на момент похорон без доплат.
                    Искать ритуальное агентство не надо. В этом смысл прижизненного договора.
                </p>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
</div>
