@model IEnumerable<Necropolis.Models.CatalogItemModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var type = "";
	var catalog = Model;
	if( Request.QueryString["type"] != null )
	{
		type = Request["type"];
		catalog = Model.Where(i=>i.Type.ToString().ToLower()==type.ToLower());
	}
}

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="wrap"><h2 class="lines">Каталог @String.Concat("- ",type.Replace("_"," "))</h2></div>
			<ul class="thumbnails collection">
				@foreach (var item in catalog)
				{
					<li class="span4">
						<div class="thumbnail" style="height: 200px; background-image: url(@Html.DisplayFor( modelItem => item.ImagePreview )); background-size: cover; background-repeat: no-repeat;">
							<a href="@Html.DisplayFor( modelItem => item.Image )" class="magnifier" style="height: 100%; width: 100%">
							</a>
							<span><a href="#">@Html.DisplayFor(modelItem => item.Price) руб</a></span>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</div>
