@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="content" class="padding-content">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="wrap one-line-heading"><h2 class="line">advantages</h2></div>
                <ul class="list list-padding">
                    <li><a href="#">Vivamus eget nibh</a></li>
                    <li><a href="#">Etiam cursus leo vel metus</a></li>
                    <li><a href="#">Nulla facilisi</a></li>
                    <li><a href="#">Aenean nec eros</a></li>
                    <li><a href="#">Vestibulum ante ipsum primis</a></li>
                    <li><a href="#">In faucibus orci luctus et</a></li>
                    <li><a href="#">Ultrices posuere cubilia Curae</a></li>
                    <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
                </ul>
            </div>
            <div class="span8">
                <div class="wrap one-line-heading"><h2 class="line">a few words about us</h2></div>
                <h4 class="h4-padding">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. </h4>Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h4>
                Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
        </div>
        <div class="row padding1">
            <div class="span4">
                <div class="wrap one-line-heading"><h2 class="line">testimonials</h2></div>
                <ul class="testimonials">
                    <li><em>“ Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia”</em><h4>- Dan Adams / Client</h4></li>
                    <li><em>“ Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia”</em><h4>- Linda Grey / Client</h4></li>
                    <li><em>“ Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia”</em><h4>- Sara Lopes / Client</h4></li>
                </ul>
            </div>
            <div class="span8">
                <div class="wrap one-line-heading"><h2 class="line">our staff</h2></div>
                <ul class="thumbnails staff">
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img1.jpg" alt="">
                            <h4>Sam Tomson</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img2.jpg" alt="">
                            <h4>Marta Healy</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img3.jpg" alt="">
                            <h4>Bradley Grosh</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img4.jpg" alt="">
                            <h4>Laura Stegner</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img5.jpg" alt="">
                            <h4>Patrick Pool</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img6.jpg" alt="">
                            <h4>Sam Kromstain</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img7.jpg" alt="">
                            <h4>Inga North</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="img/staff-img8.jpg" alt="">
                            <h4>Gloria Mann</h4>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
