@{
    ViewBag.Title = "Контакты";
    ViewBag.MenuTab = "contacts";

}
<div class="container">
    <div class="row">
        <div class="span12">

            <div class="wrap">
                <h1 class="lines">Контактная информация</h1>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png">
            </div>
        </div>
    </div>
</div>


<div id="content" class="padding-content">
    <div class="container">
        <div class="row">
            <div class="span12" >
                <div class="wrap">
                    <h2 class="lines">Адрес</h2>
                </div>
                <address class="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="postalCode">150003</span>,
                    г.<span itemprop="addressLocality"> Ярославль</span>,
                    <br>
                    <span itemprop="streetAddress">ул. Загородный сад, д. 11 (территория б-цы им. Соловьёва)</span><br>
                    Въезд с ул. Харитонова,<br>

                    Телефон(круглосуточно): <span itemprop="telephone">(4852) 73-39-98</span>,
                    <br>
                    Телефон: <span itemprop="telephone">(4852) 94-29-48</span>,
                    <br>
                    Телефон: <span itemprop="telephone">(4852) 93-20-72</span>
                    <br>
                    E-mail: <a href="#"><span itemprop="email">yargorcentr@gmail.com</span></a>
                </address>
            </div>
        </div>
    </div>

    <div class="vensel-big">
        <img src="../../Content/images/necropolis-vensel.png">
    </div>


    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.5230415967812!2d39.862218116317344!3d57.639595281099766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b2917af4137cab%3A0x3bd409614488cdf7!2z0J3QtdC60YDQvtC_0L7Qu9GMLCDQv9C-0YXQvtGA0L7QvdC90YvQuSDQtNC-0Lw!5e0!3m2!1sru!2sru!4v1489941988263" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>