@{
    ViewBag.Title = "главная страница";
}
<div id="content" class="padding-content">

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Что делать если умер близкий человек?</h2>
                </div>
                <p class="section-description">
                    Уход близкого человека всегда внезапен и трагичен… Мы соболезнуем Вашей утрате и возьмем на себя все заботы о достойных проводах в последний путь…
                </p>
                <div class="section-list">
                    <ul class="thumbnails collection">
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">1</span>
                                <p class="description">Вызвать ритуального агента по круглосуточному номеру <a href="tel:+4852733998">(4852) 733-998</a>, который возьмет на себя все хлопоты по вызову необходимых служб, взаимодействию с ними и оформлению необходимых документов.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                        <li class="span1 category">
                            <div class="thumbnail">
                            </div>
                        </li>
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">2</span>
                                <p class="description">Выбрать необходимые товары и ритуальные принадлежности для траурной церемонии.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                        <li class="span1 category">
                            <div class="thumbnail">
                            </div>
                        </li>
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">3</span>
                                <p class="description">Приехать к нам в офис по адресу г. Ярославль, ул. Загородный сад, 11 (территория больницы им. Соловьева) для оформления заказа и уточнения деталей.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Стоимость организации похорон</h2>
                </div>
                <p class="section-description">
                    Независимо от стоимости похорон, любая траурная церемония будет проведена на высшем уровне и с должным уважением к усопшему и его семье.
                </p>
                <div class="section-options">
                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("Basic", "RitualServices")">
                                <div class="thumbnail dark">
                                    <span class="title">Базовый</span>
                                    <p class="description">Минимальный набор товаров и услуг необходимых для погребения.</p>
                                    <div class="vensel"></div>
                                    <span class="price">14 500 руб</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("Extended", "RitualServices")">
                                <div class="thumbnail dark">
                                    <span class="title">Расширенный</span>
                                    <p class="description">Включает в себя все необходимые процедуры по проведению погребения.</p>
                                    <div class="vensel"></div>
                                    <span class="price">14 500 руб</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("Premium", "RitualServices")">
                                <div class="thumbnail dark">
                                    <span class="title">Премиум</span>
                                    <p class="description">Похороны, подчеркивающие статус усопшего.</p>
                                    <div class="vensel"></div>
                                    <span class="price">14 500 руб</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="wrap one-line-heading">
                    <h2 class="line">Достоинства</h2>
                </div>
                <ul class="list list-padding">
                    <li class="advantage">
                        Опыт
                    </li>
                    <p class="advantage-description">
                        Похоронный дом Некрополь занимается организацией похорон в Ярославле уже более 20 лет
                    </p>
                    <li class="advantage">
                        Профессионализм
                    </li>
                    <p class="advantage-description">
                        Опытные сотрудники помогут Вам в любом вопросе и справятся с задачами любого уровня сложности
                    </p>
                    <li class="advantage">
                        Надежность
                    </li>
                    <p class="advantage-description">
                        Расширенный автопарк и наличие 2-х ритуальных залов позволяют нам избежать любых накладок и задержек при проведении похорон
                    </p>
                    <li class="advantage">
                        Порядочность
                    </li>
                    <p class="advantage-description">
                        Сотрудники похоронного дома Некрополь придерживаются «Этического кодекса ритуальной службы»
                    </p>

                </ul>
            </div>
            <div class="span8 top-padding">
                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png" />
                </div>

                <p>
                    <strong>Некро́поль</strong> (дословно «город мёртвых», др.-греч. νεκρός — мёртвый, πόλις — город) — большое кладбище (подземные галереи, склепы, камеры), расположенное на окраине древних городов (в Египте, Малой Азии, Этрурии), с гробницами и каменными надгробиями.
                    В частности, так называют комплекс погребений древнего мира, например, Дипилонский некрополь в древних Афинах, в Древнем Египте — некрополь города Фивы с гробницами фараонов и знати, и многих др.
                    Римляне чаще располагали некрополи вдоль дорог для напоминания живущим о подвигах предков (наиболее известный — Римские катакомбы вдоль Аппиевой дороги).
                    Бог погребальных ритуалов у Древних Египтян Анубис был также богом некрополей.
                </p>
                <p>
                    Похоронный дом Некрополь занимается организацией похорон с 1997 года. Мы готовы предложить широкий спектр услуг, оказать помощь и содействие на любом этапе, а также полностью взять на себя все заботы о достойных проводах в последний путь. Вы можете доверить нам этот деликатный вопрос и быть полностью уверенными в качестве оказания услуг.
                </p>
                <p>
                    «Этический кодекс ритуальной службы» обязывает сотрудников и руководителей:
                    <ul>
                        <li>
                            Учитывать вероисповедание семьи усопшего
                        </li>
                        <li>
                            Избегать прямой рекламы своих услуг
                        </li>
                        <li>
                            Избегать проявления негативных привычек и черт характера
                        </li>
                    </ul>
                </p>
                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Каталог товаров</h2>
                </div>
                <p class="section-description">
                    Уход близкого человека всегда внезапен и трагичен… Мы соболезнуем Вашей утрате и возьмем на себя все заботы о достойных проводах в последний путь…
                </p>
                <div class="section-options">
                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/crosses.png" />
                                    <span class="title bottom">Кресты</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/wreaths.png" />
                                    <span class="title bottom">Венки</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/coffins.png"/>
                                    <span class="title bottom">Гробы</span>
                                </div>
                            </a>
                        </li></ul>
                    <div class="vensel-big">
                        <img src="../../Content/images/necropolis-vensel.png" />
                    </div>                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/monuments.png" />
                                    <span class="title bottom">Памятники</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/mourning_tape.png" />
                                    <span class="title bottom">Траурные ленты</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="#">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/candel.png" />
                                    <span class="title bottom">Другие товары</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Адрес</h2>
                </div>
                <address class="address">
                    150003, г. Ярославль,<br>
                    ул. Загородный сад, д. 11 (территория б-цы им. Соловьёва)<br>
                    Въезд с ул. Харитонова,<br>
                    Телефон(круглосуточно): (4852) 73-39-98,<br>
                    Телефон: (4852) 94-29-48,<br>
                    Телефон: (4852) 93-20-72<br>
                    E-mail: <a href="#">yargorcentr@gmail.com</a>
                </address>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.5230415967812!2d39.862218116317344!3d57.639595281099766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b2917af4137cab%3A0x3bd409614488cdf7!2z0J3QtdC60YDQvtC_0L7Qu9GMLCDQv9C-0YXQvtGA0L7QvdC90YvQuSDQtNC-0Lw!5e0!3m2!1sru!2sru!4v1489941988263" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                </div>
            </div>
        </div>
    </div>
</div>

