@{
    ViewBag.Title = "Главная страница";
}
<div class="container">
    <section class="social-block"  style="border: none">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="phone">
                        <img src="~/Content/images/phone-icon.png" alt="">
                        <span class="social-title"><strong>Позвоните нам </strong> (4852) 73-39-98</span><br>
                        Часы работы: круглосуточно
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="content" class="padding-content">

    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="wrap one-line-heading">
                    <h2 class="line">Приемущества</h2>
                </div>
                <ul class="list list-padding">
                    <li><a href="#">Vivamus eget nibh</a></li>
                    <li><a href="#">Etiam cursus leo vel metus</a></li>
                    <li><a href="#">Nulla facilisi</a></li>
                    <li><a href="#">Aenean nec eros</a></li>
                    <li><a href="#">Vestibulum ante ipsum primis</a></li>
                    <li><a href="#">In faucibus orci luctus et</a></li>
                    <li><a href="#">Ultrices posuere cubilia Curae</a></li>
                    <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
                </ul>
            </div>
            <div class="span8">
                <div class="wrap one-line-heading">
                    <h2 class="line">О Нас</h2>
                </div>
                <h4 class="h4-padding">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. </h4>Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</h4>
                Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Компленты услуг</h2>
                </div>
                <ul class="thumbnails collection">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-econom.jpg" alt="">
                            <span><a href="#">Комплект услуг - Эконом</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-standart.jpg" alt="">
                            <span><a href="#"> Комплект услуг - Стандарт</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-premium.jpg" alt="">
                            <span><a href="#">Комплект услуг - Премиум</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-muslim.jpg" alt="">
                            <span><a href="#">Мусульманские похороны</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-cremation.jpg" alt="">
                            <span><a href="#">Похороны с кремацией</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="sets/set-clients.jpg" alt="">
                            <span><a href="#">Набор мероприятий по выбору клиента</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Каталог товаров</h2>
                </div>
                <ul class="thumbnails collection">
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/wreaths.jpg" alt="">
                            <span><a href="#">Верники</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/coffins.jpg" alt="">
                            <span><a href="#">Гробы</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/monuments.jpg" alt="">
                            <span><a href="#">Памятники</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/fences.jpg" alt="">
                            <span><a href="#">Ограды</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/mourning tapes.jpg" alt="">
                            <span><a href="#">Траурные ленты</a></span>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="catalog/icons/other-goods.jpg" alt="">
                            <span><a href="#">Другие товары</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Контактная информация</h2>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8547.692213307413!2d39.8403032!3d57.6157909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadd0238c810590b7!2z0JPQvtGA0L7QtNGB0LrQvtC5INGA0LjRgtGD0LDQu9GM0L3Ri9C5INGG0LXQvdGC0YA!5e0!3m2!1sru!2sru!4v1488980194590" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="wrap one-line-heading"><h2 class="line">Адрес</h2></div>
                <address class="address">
                    150003, г. Ярославль,<br>
                    ул. Загородный сад, д. 11 (территория б-цы им. Соловьёва)<br>
                    Въезд с ул. Харитонова,<br>
                    Телефон(круглосуточно):  (4852) 73-39-98,<br>
                    Телефон:  (4852) 94-29-48,<br>
                    Телефон:  (4852) 93-20-72<br>
                    E-mail: <a href="#">yargorcentr@gmail.com</a>
                </address>
            </div>
            <div class="span8">
                <div class="wrap one-line-heading"><h2 class="line">Будьте с нами на связи</h2></div>
                <form id="contact-form" class="contact-form">
                    <div class="success"> Сообщение отправлено! <strong>Мы скоро с вами свяжемся.</strong> </div>
                    <fieldset>
                        <div class="coll-1">
                            <label class="name">
                                <input type="text" value="Name:"><br>
                                <span class="error">*Имя не соответствует требованиям.</span> <span class="empty">*Это обязательное поле.</span>
                            </label>
                        </div>
                        <div class="coll-2">
                            <label class="email">
                                <input type="email" value="Email:"><br>
                                <span class="error">*Email не соответствует требованиям.</span> <span class="empty">*Это обязательное поле.</span>
                            </label>
                        </div>
                        <div class="coll-3">
                            <label class="phone">
                                <input type="tel" value="Phone:"><br>
                                <span class="error">*Телефон не соответствует требованиям.</span> <span class="empty">*Это обязательное поле.</span>
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <label class="message">
                                <textarea>Message:</textarea><br>
                                <span class="error">*Сообщение слишком короткое.</span> <span class="empty">*Это обязательное поле.</span>
                            </label>
                        </div>
                        <div class="clear"></div>
                        <div class="buttons-wrapper clearfix"><a class="btn btn-primary link" data-type="submit">Отправить</a></div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>

