@{
	ViewBag.Title = "главная страница";
}
<div id="content" class="padding-content">

	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="wrap one-line-heading">
					<h2 class="line">Приемущества</h2>
				</div>
				<ul class="list list-padding">
					<li><a href="#">Vivamus eget nibh</a></li>
					<li><a href="#">Etiam cursus leo vel metus</a></li>
					<li><a href="#">Nulla facilisi</a></li>
					<li><a href="#">Aenean nec eros</a></li>
					<li><a href="#">Vestibulum ante ipsum primis</a></li>
					<li><a href="#">In faucibus orci luctus et</a></li>
					<li><a href="#">Ultrices posuere cubilia Curae</a></li>
					<li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
				</ul>
			</div>
			<div class="span8">
				<div class="wrap one-line-heading">
					<h2 class="line">Работаем с 1996 года</h2>
				</div>
				<h4 class="h4-padding">МЫ РАБОТАЕМ ПО САМЫМ МИНИМАЛЬНЫМ И ПРИЕМЛЕМЫМ ЦЕНАМ В ГОРОДЕ ПЕНСИОНЕРАМ И ИНВАЛИДАМ, А ТАК ЖЕ, ЕСЛИ ВЫ ПОЛЬЗОВАЛИСЬ НАШИМИ УСЛУГАМИ РАННЕЕ - ПРЕДОСТАВЛЯЮТСЯ СКИДКИ </h4>
				Городской Ритуальный Центр проводит полный комплекс ритуальных услуг в Ярославле и области - прокат катафалка, изготовление памятников, благоустройство захоронений, реализация ритуальной продукции - венки, ленты, корзины для цветов, различные мемориальные украшения. Также мы реализуем гробы в широком ассортименте - в широком ценовом диапазоне, выполненные из разных материалов - отвечающие любым, даже самым взыскательным требованиям.
				<h4> На сегодняшний день Городской Ритуальный Центр является одним из крупнейших городских специализированных служб по вопросам похоронного дела.</h4>
				Основываясь на собственной производственной базе, предприятие предоставляет широкий перечень услуг и продукции ритуального назначения, не имеющих аналогов в городе и области.
				Постоянное изучение мирового опыта в сфере ритуальных услуг позволяет нам поддерживать высокий уровень качества оказываемых услуг и производимой продукции. Профильная продукция, выпускаемая предприятием, отличается отменным качеством и высоким уровнем эстетики. Инвалидам и пенсионерам представляются скидки.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="wrap">
					<h2 class="lines">Стоимость организации похорон</h2>
				</div>
				<p class="section-description">
					Для нас нет «дешёвых» и «дорогих» похорон. Любое траурное мероприятие будет организовано качественно, с трепетным вниманием к усопшему и его близким. Включены все услуги, никаких доплат в процессе похорон.
				</p>
				<div class="section-options">
					<ul class="thumbnails collection">
						<li class="span3 category col-centered">
							<a href="#">
								<div class="thumbnail">
									<span class="title">Базовый</span>
									<p class="description">Минимальный набор товаров и услуг необходимых для погребения.</p>
									<div class="vensil"></div>
									<span class="price">14 500 руб</span>
								</div>
							</a>
						</li>
						<li class="span3 category col-centered">
							<a href="#">
								<div class="thumbnail">
									<span class="title">Расширенный</span>
									<p class="description">Включает в себя все необходимые процедуры по проведению погребения.</p>
									<div class="vensil"></div>
									<span class="price">14 500 руб</span>
								</div>
							</a>
						</li>
						<li class="span3 category col-centered">
							<a href="#">
								<div class="thumbnail">
									<span class="title">Премиум</span>
									<p class="description">Похороны, подчеркивающие статус усопшего.</p>
									<div class="vensil"></div>
									<span class="price">14 500 руб</span>
								</div>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="wrap">
					<h2 class="lines">Каталог товаров</h2>
				</div>
				<ul class="thumbnails collection">
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/wreaths.jpg" alt="">
							<span><a href="#">Венки</a></span>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/coffins.jpg" alt="">
							<span><a href="#">Гробы</a></span>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/monuments.jpg" alt="">
							<span><a href="#">Памятники</a></span>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/crosses.jpg" alt="">
							<span><a href="#">Кресты</a></span>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/mourning tapes.jpg" alt="">
							<span><a href="#">Траурные ленты</a></span>
						</div>
					</li>
					<li class="span4">
						<div class="thumbnail">
							<img src="~/Content/images/catalog/icons/other-goods.jpg" alt="">
							<span><a href="#">Другие товары</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<div class="span4">
				<div class="wrap one-line-heading">
					<h2 class="line">Адрес</h2>
				</div>
				<address class="address">
					150003, г. Ярославль,<br>
					ул. Загородный сад, д. 11 (территория б-цы им. Соловьёва)<br>
					Въезд с ул. Харитонова,<br>
					Телефон(круглосуточно): (4852) 73-39-98,<br>
					Телефон: (4852) 94-29-48,<br>
					Телефон: (4852) 93-20-72<br>
					E-mail: <a href="#">yargorcentr@gmail.com</a>
				</address>
			</div>

			<div class="span8">
				<div class="wrap one-line-heading">
					<h2 class="line">Работаем с 1996 года</h2>
				</div>
				<h4 class="h4-padding">МЫ РАБОТАЕМ ПО САМЫМ МИНИМАЛЬНЫМ И ПРИЕМЛЕМЫМ ЦЕНАМ В ГОРОДЕ ПЕНСИОНЕРАМ И ИНВАЛИДАМ, А ТАК ЖЕ, ЕСЛИ ВЫ ПОЛЬЗОВАЛИСЬ НАШИМИ УСЛУГАМИ РАННЕЕ - ПРЕДОСТАВЛЯЮТСЯ СКИДКИ </h4>
				Городской Ритуальный Центр проводит полный комплекс ритуальных услуг в Ярославле и области - прокат катафалка, изготовление памятников, благоустройство захоронений, реализация ритуальной продукции - венки, ленты, корзины для цветов, различные мемориальные украшения. Также мы реализуем гробы в широком ассортименте - в широком ценовом диапазоне, выполненные из разных материалов - отвечающие любым, даже самым взыскательным требованиям.
				<h4> На сегодняшний день Городской Ритуальный Центр является одним из крупнейших городских специализированных служб по вопросам похоронного дела.</h4>
				Основываясь на собственной производственной базе, предприятие предоставляет широкий перечень услуг и продукции ритуального назначения, не имеющих аналогов в городе и области.
				Постоянное изучение мирового опыта в сфере ритуальных услуг позволяет нам поддерживать высокий уровень качества оказываемых услуг и производимой продукции. Профильная продукция, выпускаемая предприятием, отличается отменным качеством и высоким уровнем эстетики. Инвалидам и пенсионерам представляются скидки.
			</div>
		</div>


		<div class="row">
			<div class="span12">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8547.692213307413!2d39.8403032!3d57.6157909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadd0238c810590b7!2z0JPQvtGA0L7QtNGB0LrQvtC5INGA0LjRgtGD0LDQu9GM0L3Ri9C5INGG0LXQvdGC0YA!5e0!3m2!1sru!2sru!4v1488980194590" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		</div>

	</div>
</div>

